.product-detail {
  padding: 2rem;
  text-align: center;
}

.product-image {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

.share-section {
  margin-top: 2rem;
  margin-left: 1rem;
}

.availability img {
  width: 100px;
  margin: 0 1rem;
}

.you-may-also-like {
  margin-top: 3rem;
}

.zoom-container {
  overflow: hidden;
  display: inline-block;
}

.zoom-on-hover {
  transition: transform 0.3s ease;
  cursor: zoom-in;
}

.zoom-on-hover:hover {
  transform: scale(1.2);
  z-index: 10;
}


.product-info h2 {
  margin-bottom: 0.45rem;
  margin-left: 1rem;
}

.price {
    font-size: 1rem;
    margin-bottom: 0.75rem;
    display: block;
    margin-left: 1rem;
}


.product-info .availability img {
  height: 40px;
 
}


.availability h5 {
  margin-bottom: 0.45rem;
  margin-top: -1.5rem;
  margin-left: 1rem;
 
}

.product-description {
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 1rem;
  color: #444;
  line-height: 1.6;
}

.product-description-section {
  margin-top: 2rem;
}

.description-heading {
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #222;
}

.product-description {
  font-size: 1rem;
  color: #444;
  line-height: 1.6;
}
