.product-info {
  display: flex ;
  flex-direction:column;
  padding-right: 14rem !important;
}

.product-header h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.product-header .price {
  font-size: 1.25rem;
  color: #888;
}

.share-section-project {
  display: flex;
 
}
.share-section-project button{
  background-color: #0d6efd;
  color: #fff;
}


.availability h5 {
  font-weight: 600;
  margin-bottom: 0.5rem;
  /* margin-right: 6rem !important; */
}

.platform-logos {
  display: flex;
  gap: 20px;
  align-items: center;
}

.platform-logos img {
  height: 90px;
  width:120px;
  transition: transform 0.2s ease;
}

.platform-logos img:hover {
  transform: scale(1.05);
}

.product-description-section {
  margin-top: 1.5rem;
  margin-right: 3rem;
}

.description-heading {
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
}

.product-description {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}



/* Zoom effect */
.zoom-container {
  overflow: hidden;
  display: inline-block;
}

.zoom-on-hover {
  transition: transform 0.3s ease;
  cursor: zoom-in;
}

.zoom-on-hover:hover {
  transform: scale(1.2);
}

.you-may-also-like {
  margin-top: 3rem;
}
